<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"><html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Kyle Burton" />
   <!-- main CSS -->
</head>

<body>

<div class="content">
  <div style="margin: 10%;">
  {{ content }}
  </div>
</div>

<div class="footer">
  <ul>
    <li>  Contact
      <ul>
        <li><a href="mailto:kyle.burton@gmail.com">kyle.burton@gmail.com</a></li>
      </ul>
    </li>
  <p class="clear"> </p>
</div>

<div class="footer-copyright">
  Copyright &copy; 2009 <a href="mailto:kyle.burton@gmail.com">Kyle Burton</a>  All Rights Reserved
</div>

</body>
</html>

