{:deps
 {org.clojure/data.json {:mvn/version "0.2.6"},
  org.clojure/clojure {:mvn/version "1.10.1"},
  com.cognitect.aws/api {:mvn/version "0.8.243"},
  com.cognitect.aws/endpoints {:mvn/version "1.1.11.490"},
  org.clojure/tools.logging {:mvn/version "1.1.0"},
  clj-time/clj-time {:mvn/version "0.15.0"},
  prismatic/schema-generators {:mvn/version "0.1.1"},
  com.cognitect.aws/sqs {:mvn/version "697.2.391.0"},
  com.cognitect.aws/rds {:mvn/version "701.2.394.0"},
  com.cognitect.aws/sns {:mvn/version "697.2.391.0"},
  com.github.kyleburton/clj-etl-utils {:mvn/version "1.0.98"},
  com.cognitect.aws/autoscaling {:mvn/version "697.2.391.0"},
  http-kit/http-kit {:mvn/version "2.3.0"},
  com.cognitect.aws/ecr {:mvn/version "701.2.394.0"},
  com.cognitect.aws/iam {:mvn/version "697.2.391.0"},
  com.cognitect.aws/route53domains {:mvn/version "697.2.391.0"},
  com.cognitect.aws/redshift {:mvn/version "697.2.391.0"},
  com.cognitect.aws/route53 {:mvn/version "697.2.391.0"},
  org.clojure/tools.nrepl {:mvn/version "0.2.13"},
  cider/cider-nrepl {:mvn/version "0.21.1"},
  prismatic/schema {:mvn/version "1.1.10"},
  org.clojure/math.combinatorics {:mvn/version "0.1.6"},
  com.cognitect.aws/ec2 {:mvn/version "698.2.395.0"},
  org.jsoup/jsoup {:mvn/version "1.10.2"},
  com.rpl/specter {:mvn/version "1.0.5"},
  com.cognitect.aws/s3 {:mvn/version "697.2.391.0"},
  com.cognitect.aws/cloudfront {:mvn/version "697.2.391.0"},
  ch.qos.logback/logback-classic {:mvn/version "1.2.3"},
  org.clojure/core.cache {:mvn/version "0.7.2"}}}
