%%-*- mode: erlang -*-
{require_otp_vsn, "20"}.

{erl_opts, [debug_info,
            {parse_transform, lager_transform}]}.

{xref_warnings, true}.
{xref_checks, [undefined_function_calls]}.

{deps,
 [{lager, "3..*", {git, "git@github.com:erlang-lager/lager.git", {branch, "master"}}}]}.

{cover_enabled, true}.
